{% extends "core/base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% comment %} add & eidt item page {% endcomment %}

{% block content %}
<center><h1 class='mb-6 mx-0 text-4xl font-bold '>{{ title }}</h1></center>

<form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}

    <div class="space-y-4">
        {% for field in form %}
            <!-- Custom rendering for is_sold field -->
            {% if field.name == 'is_sold' %}
                <div class="py-4 px-6 rounded-xl border w-full">
                    <label for="{{ field.id_for_label }}" class="flex items-center">
                        <span class="m-2">{{ field.label }}</span>
                        {{ field }} <!-- This is where the checkbox input will be rendered -->
                    </label>
                    {{ field.errors }} <!-- Render any errors here -->
                </div>
            {% else %}
                <!-- Default rendering for all other fields -->
                <div>
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.help_text }}
                    {{ field.errors }}
                </div>
            {% endif %}
        {% endfor %}
        {% comment %} {{form.as_p}} {% endcomment %}
    <div>

    {% if form.non_field_errors or form.errors %}
        <div class="mb-3 p-6 bg-red-100 rounded-xl ">
            {% for field in form %}
                {{field.errors}}
            {% endfor %}
                
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    
  
    <center><button type="submit" class="mt-6 py-2 px- lg:px-56 text-lg bg-blue-500
     hover:bg-blue-700 rounded-xl text-white">ثبت</button><center>
</form>

{% endblock %}

