{% extends 'core/base.html' %} 

{% block title %} جستجو {% endblock %}

{% block content %}
<style>
    input[type=number] {
        color: #8a8383;
        border: 1px solid #C6C6C6;
        font-size: 20px;
        {% comment %} width: 100%;
        height: 30px; 
        border: none;
        z-index: 2;
        margin-top: 10px;
        padding: 6px; 
        border-radius: 6px;
        -webkit-appearance: none; /* Remove number arrows */
        margin: 0; {% endcomment %}
    } 
    
    .pad-select {
        padding-right: 20px; 
    }
    [dir="ltr"] select {
        background-position: right 0.5rem center;
    }
    input[type=range]::-webkit-inner-spin-button,
    input[type=range]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
    <div class="pb-6 grid grid-cols-10 gap-3 bg-gray-100 rounded-xl">
        <div class="border-double border-4 border-stone-300 rounded-xl p-2 col-span-2 mt-2">

            <form method="POST" action="{% url 'item:browse'%}">
                {% csrf_token %}
                <input name="query" placeholder="دوچرخه، عروسک، ویلا و ..." class="mt-2 w-full py-4 px-6 border rounded-xl" type="text" value="{{query}}">
                <div class="px-2">
                    <div class="form_control mx-2">
                        <div class="form_control_container">
                            <div class="py-1">از</div>
                            <input  name="min_price" type="number" id="minPriceInput" value="{{ min_price }}" min="0" max="{{ highest_item_price }}" class="mt-1 w-full py-1 px-6 border rounded-xl">
                        </div>
                        <div class="form_control_container">
                            <div class="text-center">تا</div>
                            <input  name="max_price" type="number" id="maxPriceInput" value="{{ max_price }}" min="0" max="{{ highest_item_price }}" class="mt-1 w-full py-1 px-6 border rounded-xl">
                        </div>
                        <div class="text-left"> تومان </div>
                    </div>
                    <hr class="my-2 h-px border-0 dark:bg-gray-300">
                             <!-- category order options -->
                    <p class="font-semibold mx-1 ">دسته بندی ها</p>
                    <select name="category" id="category" class="SelcetBar content-center my-1 pad-select">
                        <option value="" {% if category_id == 0 %}selected{% endif %}>همه</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}" {% if category.id == category_id %}selected{% endif %}>{{ category.name }}</option>
                        {% endfor %}
                    </select>

                                <!-- price order options -->
                    <h2 class= "font-semibold m-1">ترتیب بر اساس:</h2>
                    <select name="order" id="order" class="SelcetBar content-center my-1 pad-select">
                        <option value="newest" {% if price_order == 'newest' %}selected{% endif %}>جدیدترین</option>
                        <option value="oldest" {% if price_order == 'oldest' %}selected{% endif %}>قدیمی ترین</option>
                        <option value="low_to_high" {% if price_order == 'low_to_high' %}selected{% endif %}>قیمت کم به زیاد</option>
                        <option value="high_to_low" {% if price_order == 'high_to_low' %}selected{% endif %}>قیمت زیاد به کم</option>
                    </select>
                </div>
                <div class="text-center mt-2">
                    <button class="mt-2 py-2 w-full text-lg bg-lime-500 text-white rounded-xl">جستجو</button>
                </div>
            </form>

            <ul>
                <li>
                    <form method="POST" action="{% url 'item:browse'%}">
                        {% csrf_token %}
                        <div class="text-center mt-4">
                            <button type="submit" style="font-size: 14px;" class="mt-2 mr-2  py-1 px-2 inline-block bg-red-400 text-lg rounded-xl font-bold text-white">پاکسازی دسته بندی ها</button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
        {# showing items #}
        <div class="col-span-8 mt-2 ml-2 ">
            <div style="height:800px;overflow-y:auto;flex-direction: column-reverse;">
                <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                    {% if not items  %}
                        <div class="text-center p-32 m-32 mx-auto w-2/3 bg-yellow-100 rounded-xl col-span-5">
                            <h1 class="font-bold text-lg "> محصولی یافت نشد!</h1>
                        </div>
                    {% else %}
                
                        {% for item in items %}
                            <div>
                                <a href="{% url 'item:detail' item.id %}"> 
                                    <div>
                                        <img style="height:100%; width:100%; aspect-ratio: 1/1;" src="{{ item.image.url}}" class="rounded-t-xl">
                                    </div>

                                    <div class="p-6 bg-white rounded-b-xl">
                                        <h2 class="text-2xl "> {{item.name}} <h2> 
                                        <p class="text-gray-500 "> قیمت: <b class="currency">{{ item.price }}</b> تومان</p>               
                                    </div>
                                </a>
                            </div>
                        {% endfor %}  
                    {% endif %}
                 </div>
            </div>
        </div>
    </div>
    <script>
        function removeDecimalTrailingZeros() {
            const inputs = document.querySelectorAll('input[type="number"]');
            inputs.forEach(input => {
              let value = input.value;
              // Remove trailing zeros after decimal point
              value = value.replace(/\.0+$/, ''); 
              input.value = value;
            });
          }
          document.addEventListener('DOMContentLoaded', removeDecimalTrailingZeros);
    </script>
{% endblock content %}
