{% extends 'core/base.html' %} 

{% block title %} جستجو {% endblock %}

{% block content %}
<style>
    .range_container {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 10px auto; /* Adjusted margin */
    }

    .sliders_control {
        position: relative;
        min-height: 50px;
    }

    {% comment %} .form_control {
        position: relative;
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        color: #635a5a;
    } {% endcomment %}

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        pointer-events: all;
        width: 24px;
        height: 24px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 0 1px #C6C6C6;
        cursor: pointer;
    }

    input[type=range]::-moz-range-thumb {
        -webkit-appearance: none;
        pointer-events: all;
        width: 24px;
        height: 24px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 0 1px #C6C6C6;
        cursor: pointer;
    }

    input[type=range]::-webkit-slider-thumb:hover {
        background: #f7f7f7;
    }

    input[type=range]::-webkit-slider-thumb:active {
        box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
        -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    }

    input[type=number] {
        color: #8a8383;
        width: 100%;
        height: 30px;
        font-size: 20px;
        border: none;
        z-index: 2;
        margin-top: 10px;
        padding: 6px;
        border: 1px solid #C6C6C6;
        border-radius: 6px;
        -webkit-appearance: none; /* Remove number arrows */
        margin: 0;
    }

    input[type=range]::-webkit-inner-spin-button,
    input[type=range]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }

    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        height: 12px; /* Adjusted height */
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        background: #C6C6C6; /* Added background color */
        border-radius: 6px; /* Added border-radius for square ends with rounded edges */
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 12px;
        height: 12px;
        background-color: #25daa5; /* Added background color for slider thumb */
        border: 1px solid #387bbe; /* Added border for slider thumb */
        border-radius: 50%; /* Rounded edges for slider thumb */
        cursor: pointer;
        margin-top: -5px; /* Adjusted margin-top */
    }

    #minPriceSlider,
    #maxPriceSlider {
        height: 0;
        z-index: 1;
    }
</style>
    <div class="pb-6 grid grid-cols-6 gap-4 bg-gray-100 rounded-xl">
        <div class="col-span-1 mr-2 ">

            <form method="POST" action="{% url 'item:browse'%}">
                {% csrf_token %}
                <input name="query" placeholder="دوچرخه، عروسک، ویلا و ..." class="mt-2 w-full py-4 px-6 border rounded-xl" type="text" value="{{query}}">
                <div class="range_container">
                    {% comment %} <div class="sliders_control"> {#TODO اسلایدر سرچ رو بردارم #}
                        <input id="minPriceSlider" type="range" value="{{ min_price }}" min="0" max="{{ highest_item_price }}">
                        <input id="maxPriceSlider" type="range" value="{{ max_price }}" min="0" max="{{ highest_item_price }}">
                    </div> {% endcomment %}
                    <div class="form_control">
                        <div class="form_control_container">
                            <div class="py-1">از</div>
                            <input  name="min_price" type="number" id="minPriceInput" value="{{ min_price }}" min="0" max="{{ highest_item_price }}" class="mt-2 w-full py-4 px-6 border rounded-xl">
                        </div>
                        <div class="form_control_container">
                            <div class="text-center">تا</div>
                            <input  name="max_price" type="number" id="maxPriceInput" value="{{ max_price }}" min="0" max="{{ highest_item_price }}" class="mt-2 w-full py-4 px-6 border rounded-xl">
                        </div>
                    <div class="text-left"> تومان </div>
                    </div>
                </div>
            
                <button class="mt-2 py-2 px-8 text-lg bg-lime-500 text-white rounded-xl">جستجو</button>
            
            </form>


            {% comment %} <form method="POST" action="{% url 'item:browse'%}">
                {% csrf_token %}
                <input name="query" placeholder="دوچرخه، عروسک، ویلا و ..." class="mt-2 w-full py-4 px-6 border rounded-xl" type="text" value="{{query}}">

                {% comment %} <input type="range" min="0" max="{{ highest_item_price }}" value="{{ min_price }}" class="slider" id="price-slider">
                <input name="min_price" id="min-price" placeholder="از {{min_price}}" class="mt-2 w-full py-4 px-6 border rounded-xl">
                <input name="max_price" id="max-price" placeholder="تا {{max_price}} تومان" class="mt-2 w-full py-4 px-6 border rounded-xl" type="text"> {% endcommet %}

                <input type="range" min="0" max="{{ highest_item_price }}" value="{{ min_price }}" class="slider" id="price-slider">
                <input name="min_price" id="min-price" placeholder="از {{min_price}}" class="mt-2 w-full py-4 px-6 border rounded-xl">
                <input name="max_price" id="max-price" placeholder="تا {{max_price}} تومان" class="mt-2 w-full py-4 px-6 border rounded-xl" type="text">
                <button class="mt-2 py-2 px-8 text-lg bg-lime-500 text-white rounded-xl">جستجو</button>
            </form> {% endcomment %}

            <hr class="my-6">
            <p class="font-semibold ">دسته بندی ها</p>

            <ul>
                {% for category in categories %}
                    <li class="py-2 px-2 rounded-xl {% if category.id == category_id %}bg-lime-200 outline outline-lime-500{% endif %}">
                        {% comment %} <a href="{% url 'item:browse'%}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a> {% endcomment %}
                        <form method="POST" action="{% url 'item:browse'%}" class="flex items-center">
                            {% csrf_token %}
                    
                            <input type="hidden" name="category" value="{{ category.id }}">
                            <button type="submit" class="bg-transparent text-right p-0 w-full">{{ category.name }}</button>
                        </form>

                    </li>
                {% endfor %}
            </ul>

            <hr class="my-6">
            <p class="font-semibold ">پاکسازی دسته بندی ها</p>
            <ul>
                {% comment %} <li><a href="{% url 'item:browse'%}" style="font-size: 14px;" class="mt-2 py-1 px-2 inline-block bg-red-300 text-lg rounded-xl text-white">پاکسازی</a></li> {% endcomment %}
                <li>
                    <form method="POST" action="{% url 'item:browse'%}">
                        {% csrf_token %}
                        <button type="submit" style="font-size: 14px;" class="mt-2 mr-2  py-1 px-2 inline-block bg-red-300 text-lg rounded-xl text-white">پاکسازی</button>
                    </form>
                </li>
            </ul>
        </div>

        <div class="col-span-5 ">
            <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                {% for item in items %}
                    <div>
                        <a href="{% url 'item:detail' item.id %}"> 
                            <div>
                                <img style="height:100%; width:100%; aspect-ratio: 1/1;" src="{{ item.image.url}}" class="rounded-t-xl">
                            </div>

                            <div class="p-6 bg-white rounded-b-xl">
                                <h2 class="text-2xl "> {{item.name}} <h2> 
                                <p class="text-gray-500 "> قیمت: <b class="currency">{{ item.price }}</b> تومان</p>               
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        // Initialize the slider    
        document.addEventListener("DOMContentLoaded", function () {
            const minPriceSlider = document.getElementById('minPriceSlider');
            const maxPriceSlider = document.getElementById('maxPriceSlider');
            const minPriceInput = document.getElementById('minPriceInput');
            const maxPriceInput = document.getElementById('maxPriceInput');
        
            function controlFromInput(fromSlider, fromInput, toInput, controlSlider) {
                const [from, to] = getParsed(fromInput, toInput);
                fillSlider(fromInput, toInput, '#C6C6C6', '#25daa5', controlSlider);
                if (from > to) {
                    fromSlider.value = to;
                    fromInput.value = to;
                } else {
                    fromSlider.value = from;
                }
            }
        
            function controlToInput(toSlider, fromInput, toInput, controlSlider) {
                const [from, to] = getParsed(fromInput, toInput);
                fillSlider(fromInput, toInput, '#C6C6C6', '#25daa5', controlSlider);
                setToggleAccessible(toInput);
                if (from <= to) {
                    toSlider.value = to;
                    toInput.value = to;
                } else {
                    toInput.value = from;
                }
            }
        
            function controlFromSlider(fromSlider, toSlider, fromInput) {
                const [from, to] = getParsed(fromSlider, toSlider);
                fillSlider(fromSlider, toSlider, '#C6C6C6', '#25daa5', toSlider);
                if (from > to) {
                    fromSlider.value = to;
                    fromInput.value = to;
                } else {
                    fromInput.value = from;
                }
            }
        
            function controlToSlider(fromSlider, toSlider, toInput) {
                const [from, to] = getParsed(fromSlider, toSlider);
                fillSlider(fromSlider, toSlider, '#C6C6C6', '#25daa5', toSlider);
                setToggleAccessible(toSlider);
                if (from <= to) {
                    toSlider.value = to;
                    toInput.value = to;
                } else {
                    toInput.value = from;
                    toSlider.value = from;
                }
            }
        
            function getParsed(currentFrom, currentTo) {
                const from = parseInt(currentFrom.value, 10);
                const to = parseInt(currentTo.value, 10);
                return [from, to];
            }
        
            function fillSlider(from, to, sliderColor, rangeColor, controlSlider) {
                const rangeDistance = to.max - to.min;
                const fromPosition = from.value - to.min;
                const toPosition = to.value - to.min;
                controlSlider.style.background = `linear-gradient(
                    to right,
                    ${sliderColor} 0%,
                    ${sliderColor} ${(fromPosition) / (rangeDistance) * 100}%,
                    ${rangeColor} ${((fromPosition) / (rangeDistance)) * 100}%,
                    ${rangeColor} ${(toPosition) / (rangeDistance) * 100}%, 
                    ${sliderColor} ${(toPosition) / (rangeDistance) * 100}%, 
                    ${sliderColor} 100%)`;
            }
        
            function setToggleAccessible(currentTarget) {
                const toSlider = document.getElementById('maxPriceSlider');
                if (Number(currentTarget.value) <= 0) {
                    toSlider.style.zIndex = 2;
                } else {
                    toSlider.style.zIndex = 0;
                }
            }
        
            fillSlider(minPriceSlider, maxPriceSlider, '#C6C6C6', '#25daa5', maxPriceSlider);
            setToggleAccessible(maxPriceSlider);
        
            minPriceSlider.oninput = () => controlFromSlider(minPriceSlider, maxPriceSlider, minPriceInput);
            maxPriceSlider.oninput = () => controlToSlider(minPriceSlider, maxPriceSlider, maxPriceInput);
            minPriceInput.oninput = () => controlFromInput(minPriceSlider, minPriceInput, maxPriceInput, maxPriceSlider);
            maxPriceInput.oninput = () => controlToInput(maxPriceSlider, minPriceInput, maxPriceInput, maxPriceSlider);
        });
    </script>
{% endblock content %}
