{% extends 'core/base.html' %} 
    {% block title %} داشبورد {% endblock %}

 {% block content %}

  <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">   
    <a href="{% url 'core:logout' %}" class="px-2 py-2 text-sm bg-red-600 text-white rounded-lg hover:bg-stone-400" onclick="return confirmLogout()">خروج از حساب کاربری</a>
    
    <h2 class="mb-12 text-2xl text-center">محصولات من</h2>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        {% for item in items %}
          <div>
            <a href ="{% url 'item:detail' item.id %}"> 
              <div >
                <img style="height:100%; width:100%; aspect-ratio: 1/1;" src="{{ item.image.url}}" class="rounded-t-xl">
              </div>

              <div class="p-6 bg-white rounded-b-xl">
                  <h2 class="text-2xl "> {{item.name}} <h2> 
                  <p class="text-gray-500 "> قیمت: {{item.price}} تومان</p>               
               </div>
            </a>
          </div>
        {% endfor %}
     </div>
   </div>

   <script>
    function confirmLogout(itemId) {
        return confirm('آیا قصد خروج از حساب کاربری خود را دارید؟');
      }
      
      $("a.delete-item").click(function() {
        var itemId = $(this).attr('href').split('?')[1].split('=')[1]; // Extract item ID from URL
        return confirmLogout(itemId);
      });
  </script>
{% endblock content%}